<h2>Researcher Testimonials</h2>
<p>
  “Academic Commons is an important way that Columbia makes our scholarship accessible and discoverable. Open access has been incredibly effective in helping my writing reach new and important audiences.”
  <span class="credit">—Sharon Marcus, Dean of Humanities, Columbia University</span>
</p>
<p>
  "Academic Commons helps the faculty across all of the affiliate institutions at Columbia get our work out there and usable by the global community!"
  <span class="credit">—Alex Bowers, Associate Professor of Educational Leadership, Teachers College</span>
</p>
