<h1>Terms of Use</h1>

<p>By using <%= application_name %> (academiccommons.columbia.edu) or any of its content, you agree to accept and be bound by the following Terms of Use.</p>
<ol>
<li><b>Access</b>: The <%= application_name %> collection is freely accessible online. The Center for Digital Research and Scholarship, a unit of the Columbia University Libraries, presents <%= application_name %> in support of Columbia’s mission “to advance knowledge and learning at the highest level and to convey the products of its efforts to the world.”</li>
<li><b>Lawful Use</b>: You may download and use works in Academic Commons in any manner consistent with fair use or other provision of copyright law.</li> 
<li><b>Copyright</b>: Users are responsible for determining whether a work is protected by copyright, the identity of the copyright holder, and the means for appropriately using the work. Learn more about copyright and works in Academic Commons here: [LINK TO COPYRIGHT POLICY]</li>
<li><b>Datasets</b>: In general, facts and collections of facts do not have copyright protection under U.S. copyright law. However, some data and data collections may have sufficient originality to be copyrightable. Users of data found in Academic Commons are responsible for determining any legal protection associated with the materials and reviewing any statements from the contributor about appropriate uses.</li>
<li><b>Bibliographic Metadata</b>: Academic Commons bibliographic metadata--excluding abstracts, which may be subject to copyright--is available under a CC0 waiver. To the extent possible under law, Columbia University Academic Commons has waived all copyright and related or neighboring rights to Academic Commons bibliographic metadata. This work is published from: United States. Learn more here: [LINK TO INFO ON OAI_PMH]</li>
<li><b>Indemnity</b>: ?
</ol>