/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sufia
 */

 /* ac4 styles */

body {
	font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* cul banner */

.cul-banner {
	background: #002D63;
	color: #fff;
	padding: 7px 20px 10px 20px;

	& a {
		color: #fff;
	}

	& a:hover {
		text-decoration: none;
	}

	& .cul-crown,
	& .cul-logo {
		display: inline-block;
		vertical-align: bottom;
	}

	& .cul-crown {
		margin-right: 3px;
		width: 19px;
	}

	& .cul-crown img {
		height: auto;
		width: 100%;
	}

	& .cul-logo {
		font-family: 'trajan pro', georgia, serif;
		font-size: 16px;
		line-height: 56%;
	}
}

/* logo */

a#logo h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#masthead {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 12px 15px 6px 15px;

	& svg {
		height: auto;
		width: 100%;
	}
}

.navbar-header {
	max-width: 560px;
}

.navbar-brand {
	float: none;
	height: auto;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* footer */

#footer.navbar-inverse {
	background: #fff;
	border: 0;
	border-top: 1px solid #ccc;
	border-radius: 0;
	color: #555;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: left;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	list-style: none;
}

#footer .footer-box,
#footer .footer-box-info,
#footer .footer-box-contact {
	padding-bottom: 25px;
	padding-top: 25px;
}

#footer .footer-box-info {
	line-height: 2;
}

#footer .footer-box-info li {
	color: #bbb;
}

#footer .footer-box-contact {
	padding: 25px 0 15px 0;
}

#footer .footer-box-contact ul {
	display: inline-block;
	margin: 0 20px;
}

#footer .footer-box-contact li {
	display: block;
	line-height: 2;
	text-align: left;
}

#footer .footer-box-contact i {
	min-width: 15px;
}