/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sufia
 */

h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.cul-banner {
	background: #002D63;
	color: #fff;
	padding: 8px 15px 6px 15px;
}

.cul-banner svg {
	height: auto;
	width: 280px;
}

#masthead {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 18px 15px 13px 15px;
}

#masthead svg {
	height: auto;
    width: 560px;
}

.navbar-brand {
	float: none;
	height: auto;
	line-height: 1;
    margin: 0;
    padding: 0;
}