/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sufia
 */

 /* ac4 styles */

/* variables */

$color-cul-dark: #002D63;
$color-cul-light: #4A90E2;

/* general styles */

body {
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	padding-top: 45px;
}

/* cul banner */

.cul-banner {
	background: #002D63;
	color: #fff;
	padding: 8px 0 17px 0;


	& a {
		color: #fff;
	}

	& a:hover {
		text-decoration: none;
	}

	& .cul-crown,
	& .cul-logo {
		display: inline-block;
		vertical-align: bottom;
	}

	& .cul-crown {
		margin-right: 3px;
		width: 19px;
	}

	& .cul-crown img {
		height: auto;
		width: 100%;
	}

	& .cul-logo {
		font-family: 'trajan-pro-3', georgia, serif;
		font-size: 15px;
		line-height: 70%;
	}
}

/* fixes typekit flash of unstyled text */

.wf-loading .cul-logo  {
	visibility: hidden;
}
.wf-active .cul-logo  {
	visibility: visible;
}

/* logo */

#masthead {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;

	& .navbar-brand {
		float: none;
		height: auto;
		line-height: 1;
		margin: 0;
		padding: 0;
	}

	& h1 {
		font-family: 'trajan-pro-3';
		font-size: 1em;
		letter-spacing: -1px;
		margin: 15px 0 0 15px;
		white-space: nowrap;
	}

	& span.columbia {
		color: $color-cul-dark;
	}

	& span.pipe {
		color: lighten($color-cul-light,20%);
		margin: 0 -4px;
	}

	& span.ac {
		color: $color-cul-light;
	}
}

/* search bar */

#search-form-header {
	margin-top: 8px;

	& .input-group {
		margin-bottom: 8px
	}
}

/* homepage */

#home_header  {
  background-image: none;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #418AD9),
		color-stop(1, #33679E)
	);
	background-image: -o-linear-gradient(bottom, #418AD9 0%, #33679E 100%);
	background-image: -moz-linear-gradient(bottom, #418AD9 0%, #33679E 100%);
	background-image: -webkit-linear-gradient(bottom, #418AD9 0%, #33679E 100%);
	background-image: -ms-linear-gradient(bottom, #418AD9 0%, #33679E 100%);
	background-image: linear-gradient(to bottom, #418AD9 0%, #33679E 100%);

  border: 0;
  margin: -20px -15px 0 -15px;
	min-height: 0;
	padding: 50px 20px;

	& h3 {
		color: #fff;
		font-weight: 600;
		font-size: 2em;
		line-height: 1.2;
		letter-spacing: 1px;
		margin: 0 0 30px 0;
		text-align: center;
	}

	& div.home_call_action {
		min-height: 0;
	}

	& .home_share_work {
	  background: transparent;
	  margin: 0;
	  padding: 0;
		text-align: center;
	}

	& .home_share_work .btn-primary {
		background: #52A3FF;
		border: 0;
		border-radius: 10px;
		padding: 14px 22px;
	}

	& .home_share_work .btn-primary:hover {
		background: $color-cul-dark;
	}

	& .home_share_work p {
	  background-color: transparent;
	  width: 40%;
	  margin: .25em auto;
	}
}

#home_content {

	& h2 {
		font-weight: 300;
		letter-spacing: 1px;
	}
}

/* footer */

#footer.navbar-inverse {
	background: #fff;
	border: 0;
	border-top: 1px solid #ccc;
	border-radius: 0;
	color: #555;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: left;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	list-style: none;
}

#footer .footer-box,
#footer .footer-box-info,
#footer .footer-box-contact {
	padding-bottom: 25px;
	padding-top: 25px;
}

#footer .footer-box-info {
	line-height: 2;

	& li {
		color: #bbb;
	}
}

#footer .footer-box-contact {
	padding: 25px 0 15px 0;

	& ul {
		display: inline-block;
		margin: 0 20px;
	}

	& li {
		display: block;
		line-height: 2;
		text-align: left;
	}

	& i {
		min-width: 16px;
	}
}

/* media queries */

@media only screen and (min-width : 480px) {

#masthead h1 {
	font-size: 1.2em;
	line-height: 130%;
	margin-top: 11px;
}
}

@media only screen and (min-width : 768px) {

#masthead {
	padding: 10px 0;

	& h1 {
		font-size: 2.1em;
		line-height: 130%;
		margin: 0;
	}

	& span.pipe {
		color: lighten($color-cul-light,20%);
		margin: 0 -8px;
	}
}

#home_header {
	padding: 110px 20px;

	& h3 {
		font-size: 2.7em;
	}
}
}
