/* ac4 styles */

body {
	font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* top banner */

a#logo h1 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#masthead {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 18px 15px 13px 15px;
}

#masthead svg {
	height: auto;
	width: 100%;
}

.navbar-header {
	max-width: 560px;
}

.navbar-brand {
	float: none;
	height: auto;
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* footer */

#footer.navbar-inverse {
	background: #fff;
	border: 0;
	border-top: 1px solid #ccc;
	border-radius: 0;
	color: #555;
	line-height: 1.5;
	margin-bottom: 0;
	text-align: left;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	list-style: none;
}

#footer .footer-box,
#footer .footer-box-info,
#footer .footer-box-contact {
	padding-bottom: 25px;
	padding-top: 25px;
}

#footer .footer-box-info {
	line-height: 2;
}

#footer .footer-box-info li {
	color: #bbb;
}

#footer .footer-box-contact {
	padding: 25px 0 15px 0;
}

#footer .footer-box-contact ul {
	display: inline-block;
	margin: 0 20px;
}

#footer .footer-box-contact li {
	display: block;
	line-height: 2;
	text-align: left;
}

#footer .footer-box-contact i {
	min-width: 15px;
}