<div class="cul-banner">
	<a href="http://library.columbia.edu/">
		<div class="cul-crown">
			<img src="<%= asset_path( 'logo-crown.svg' ) %>" />
		</div>
		<div class="cul-logo">
			Columbia University Libraries
		</div>
	</a>
</div>