<footer id="footer" class="navbar navbar-inverse">

	<div class="container">

		<div class="row">

			<div class="col-md-4">
				<h3><%=application_name %></h3>
				<ul>
					<li><a href="">About</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Content Policies</a></li>
					<li><a href="">Copyright</a></li>
					<li><a href="">Terms of Use</a></li>
					<li><a href="">Privacy Policy</a></li>
				</ul>
			</div>

			<div class="col-md-5">
				<h3>Contact Us</h3>
				Center for Digital Research and Scholarship<br />
				Columbia University Libraries<br />
				201 Lehman Library<br />
				420 West 118th Street<br />
				New York, NY 10027<br />
				Email: ac@columbia.edu<br />
				Phone: 212-851-2856
			</div>

			<div class="col-md-3">
				<div class="logo">
					<img src="<%= asset_path( 'logo-datacite.png' ) %>" />
				</div>
			</div>

		</div>

	</div>

	<div class="cul-footer">
		Columbia University Libraries
	</div>

</footer>